<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
	<variable name="applicationName" value="${processname}"/>
	<variable name="timestamp" value="${date:HH\:mm\:ss.fff}"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="EventLog" name="el" layout="${longdate} ${uppercase:${level}} ${callsite} ${message}" log="Application" machineName="." source="NetworkMonitor.Application"/>
		<target xsi:type="Debugger" name="console" layout="${timestamp} ${uppercase:${level}} ${message}"/>
		<target xsi:type="File" name="fileWithLevel" createDirs="true" autoFlush="true" enableFileDelete="true" encoding="utf-8" fileName="${logDirectory}/${level}.txt" layout="${timestamp} ${message}"/>
		<target xsi:type="File" name="mergeFile" createDirs="true" autoFlush="true" enableFileDelete="true" encoding="utf-8" fileName="${logDirectory}/all.txt" layout="${timestamp} ${uppercase:${level}} ${message}"/>
		<target xsi:type="Notification" name="notification" position="BottomRight" layout="${date:HH\:mm\:ss} ${message}"/>
	</targets>

	<rules>
		<logger name="ServiceCore" minlevel="Warn" writeTo="el"/>
		<logger name="ServiceCore" minlevel="Trace" writeTo="mergeFile,fileWithLevel,console" final="true" />
		<logger name="*" minlevel="Error" writeTo="notification" />
		<logger name="*" minlevel="Warn" writeTo="el" />
		<logger name="*" minlevel="Trace" writeTo="mergeFile,fileWithLevel,console" />
	</rules>
</nlog>
